/*The worst CSS file you'll probably ever read.*/
/*Hope any web designer reading this can avoid nightmares.*/

/*GENERAL*/
@font-face { 
	font-family: Roboto; 
	src: url('fonts/Roboto-Regular.ttf'); 
}
* {
	font-family: Roboto, Helvetica, Arial;
	color: #92E1BA; /*this was probably a mistake*/
}

/*BODY*/
body {
	background-color:#181818;
}
html, body {
    margin: 0;
    padding: 0;
}
a {
	color: #FF885F;
}

/*LOGO*/
.logo {
	text-align: center;
}

/*NAVIGATION BAR*/
.navigation {
	width: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #23676A;
	text-align: center;
}
.navigation li {
	display: inline;
}
.navigation a {
	font-weight: bold;
	font-size: 24px;
	padding-left: 22px;
	padding-right: 22px;

	text-decoration: none;
	color: #92E1BA;/*#5DB98D;*/
	text-transform: uppercase;
}
.navigation a:hover {
	font-weight: bold;
	color: #ffffff;
}

/*CONTENT*/
.content {
	width: 75%;
	height:auto;
	margin: auto;
	text-align: center;
}

/*things*/
.things {
	width: 100%;
	text-align: left;
}
.things-segment {
	margin-left:30%;
	margin-right:30%;
	padding-top: 	10px;
	padding-bottom: 0px;
}
.things h1 {
	color: #ffffff;
}
.things p {
	padding-left:5%;
}
.things b {
	color: #ffffff;
}

/*PLATFORM ICONS*/
.platform img {
	display: bloc;
	max-width:48px;
	max-height:48px;
	width:auto;
	height:auto;
	padding-left:4px;
	padding-right:4px;
}

/*PADDINGTON, no, not the bear*/
/*Dunno how to fix the footer overlap so this dumb thing is here. I told you this is silly.*/
.paddington {
	padding-bottom:90px;
}

/*FOOTER*/
.footer {
	background-color: #23676A;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 6px;
	text-align: center;
	position:fixed;
	bottom:0;
	width:100%;
	font-size: 9px;
	height: 40px;
}
.footer p {
	color: #ffffff;
	margin-top: 6px;
	margin-bottom: 1px;
}
/*
.footer small {
	font-size: 9px;
}*/

/*404*/
.error-dump {
	position:fixed;
	text-align: center;
	top:25%;
	bottom:50%;
	width:100%;
}